<h1 class="text-3xl">Precios de la Aplicacion</h1>
<hr class="my-2">

<section>
  <p class="mb-4">
    Sit duis qui officia qui est nisi aliqua. Tempor sit in qui amet aliquip ullamco aute consequat. Laborum deserunt
    commodo dolor fugiat aute eiusmod id non aliqua consectetur. Nostrud voluptate non elit nostrud esse labore aliqua
    labore incididunt esse dolor commodo. Occaecat ea ad cillum labore dolor Lorem est qui reprehenderit dolor id.
    Consequat id tempor laborum voluptate veniam nulla id nostrud.
  </p>
</section>
