<h1 class="text-3xl">Sobre la Aplicacion</h1>
<hr class="my-2">

<section>
  <p class="mb-4">
    Consectetur pariatur laborum dolore ut ex labore est consequat. Excepteur et veniam aliquip in eiusmod veniam est ad
    ut laborum ullamco ad eiusmod consectetur. Occaecat commodo qui reprehenderit fugiat quis pariatur qui irure id
    adipisicing ea. Voluptate cupidatat id anim cupidatat dolor. Qui ut adipisicing eu dolore consectetur est proident.
    Aute excepteur eiusmod sunt nisi. Occaecat cillum ut nostrud qui amet excepteur.
  </p>
</section>
